# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data = "output_data.csv"
output_data = pd.read_csv(output_data)
output_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,East London,-33.02,27.91,60.80,77,71,5.82,ZA,1603048285
1,Snezhnogorsk,69.19,33.25,21.20,100,25,2.24,RU,1603048286
2,Khatanga,71.97,102.50,6.89,86,71,8.72,RU,1603048286
3,Avarua,-21.21,-159.78,77.00,73,95,6.93,CK,1603048286
4,Shwebo,22.57,95.70,76.53,84,99,3.00,MM,1603048287

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = output_data[["Lat", "Lng"]]

#Store Humidity in humidity
humidity = output_data["Humidity"]

In [4]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)
#Add Layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Max temp lower than 80 degress but higher than 70 degrees, Wind speed less than 10mph, Zero cloudiness.
#Drop any rows that don't contain all three conditions.

ideal_weather = output_data.loc[(output_data["Wind Speed"] <= 10) & (output_data["Cloudiness"] == 0) & \
                                   (output_data["Max Temp"] >= 70) & (output_data["Max Temp"] <= 80)].dropna()
#Reset index
ideal_weather = ideal_weather.reset_index()
ideal_weather

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,7,Riyadh,24.69,46.72,73.40,23,0,6.82,SA,1603048288
1,45,Buraidah,26.33,43.98,75.20,22,0,6.93,SA,1603048297
2,93,Alexandria,31.22,29.96,75.20,78,0,8.05,EG,1603048041
3,114,Namatanai,-3.67,152.43,79.56,75,0,5.28,PG,1603048313
4,148,Dekar,-21.53,21.93,77.58,16,0,8.57,BW,1603048322
5,153,Parakou,9.34,2.63,76.15,85,0,4.12,BJ,1603048324
6,156,Tura,25.52,90.22,73.31,91,0,1.99,IN,1603048324
7,167,Angoche,-16.23,39.91,73.71,83,0,8.28,MZ,1603048327
8,188,Marzuq,14.40,46.47,70.12,23,0,1.39,YE,1603048332
9,225,Salalah,17.02,54.09,78.80,44,0,3.36,OM,1603048341
10,284,Chui,-33.70,-53.46,77.23,56,0,7.83,UY,1603048355
11,328,Kiryat Gat,31.61,34.76,78.01,82,0,4.76,IL,1603048365
12,356,Chinsali,-10.54,32.08,70.29,51,0,9.62,ZM,1603048372
13,424,Sakakah,29.97,40.21,77.00,13,0,5.82,SA,1603048387
14,442,Bandar-e Lengeh,26.56,54.88,77.00,38,0,2.24,IR,1603048391
15,511,Okitipupa,6.50,4.78,75.90,92,0,3.20,NG,1603048407
16,526,Quelimane,-17.88,36.89,75.00,83,0,4.70,MZ,1603048411
17,551,Neuquén,-38.95,-68.06,75.20,14,0,6.93,AR,1603048356
18,558,Jacobabad,28.28,68.44,74.30,17,0,1.68,PK,1603048418

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(ideal_weather, columns=["City", "Country", "Lat","Lng"])

hotel_df["Hotel Name"] = ""
hotel_df

               City Country    Lat     Lng Hotel Name
0            Riyadh      SA  24.69   46.72
1          Buraidah      SA  26.33   43.98
2        Alexandria      EG  31.22   29.96
3         Namatanai      PG  -3.67  152.43
4             Dekar      BW -21.53   21.93
5           Parakou      BJ   9.34    2.63
6              Tura      IN  25.52   90.22
7           Angoche      MZ -16.23   39.91
8            Marzuq      YE  14.40   46.47
9           Salalah      OM  17.02   54.09
10             Chui      UY -33.70  -53.46
11       Kiryat Gat      IL  31.61   34.76
12         Chinsali      ZM -10.54   32.08
13          Sakakah      SA  29.97   40.21
14  Bandar-e Lengeh      IR  26.56   54.88
15        Okitipupa      NG   6.50    4.78
16        Quelimane      MZ -17.88   36.89
17          Neuquén      AR -38.95  -68.06
18        Jacobabad      PK  28.28   68.44

In [8]:
# Place url
place_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(place_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    #if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("--------------------------------------")

Retrieving Results for Index 0: Riyadh.
Closest hotel in Riyadh is Best Western Plus Fursan Hotel.
--------------------------------------
Retrieving Results for Index 1: Buraidah.
Closest hotel in Buraidah is فندق براند القصيم.
--------------------------------------
Retrieving Results for Index 2: Alexandria.
Closest hotel in Alexandria is Miramar Boutique hotel.
--------------------------------------
Retrieving Results for Index 3: Namatanai.
Closest hotel in Namatanai is Namatanai Hotel.
--------------------------------------
Retrieving Results for Index 4: Dekar.
Missing field/result... skipping.
--------------------------------------
Retrieving Results for Index 5: Parakou.
Closest hotel in Parakou is Kobourou City Hotel.
--------------------------------------
Retrieving Results for Index 6: Tura.
Closest hotel in Tura is Hotel Polo Orchid.
--------------------------------------
Retrieving Results for Index 7: Angoche.
Closest hotel in Angoche is Guest House HESADA.
--------------------------------------
Retrieving Results for Index 8: Marzuq.
Missing field/result... skipping.
--------------------------------------
Retrieving Results for Index 9: Salalah.
Closest hotel in Salalah is Grand flora hotel salalah.
--------------------------------------
Retrieving Results for Index 10: Chui.
Closest hotel in Chui is Bertelli Chuí Hotel.
--------------------------------------
Retrieving Results for Index 11: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
--------------------------------------
Retrieving Results for Index 12: Chinsali.
Closest hotel in Chinsali is JESIMS LODGE.
--------------------------------------
Retrieving Results for Index 13: Sakakah.
Closest hotel in Sakakah is Raoum Inn Hotel.
--------------------------------------
Retrieving Results for Index 14: Bandar-e Lengeh.
Closest hotel in Bandar-e Lengeh is Diplomat Hotel.
--------------------------------------
Retrieving Results for Index 15: Okitipupa.
Closest hotel in Okitipupa is Amazon Hotel & Suite.
--------------------------------------
Retrieving Results for Index 16: Quelimane.
Closest hotel in Quelimane is Hotel Elite.
--------------------------------------
Retrieving Results for Index 17: Neuquén.
Closest hotel in Neuquén is Hotel del Comahue.
--------------------------------------
Retrieving Results for Index 18: Jacobabad.
Closest hotel in Jacobabad is Hotel Al-HARMAIN.
--------------------------------------

In [9]:
hotel_df

               City Country    Lat     Lng                      Hotel Name
0            Riyadh      SA  24.69   46.72  Best Western Plus Fursan Hotel
1          Buraidah      SA  26.33   43.98               فندق براند القصيم
2        Alexandria      EG  31.22   29.96          Miramar Boutique hotel
3         Namatanai      PG  -3.67  152.43                 Namatanai Hotel
4             Dekar      BW -21.53   21.93
5           Parakou      BJ   9.34    2.63             Kobourou City Hotel
6              Tura      IN  25.52   90.22               Hotel Polo Orchid
7           Angoche      MZ -16.23   39.91              Guest House HESADA
8            Marzuq      YE  14.40   46.47
9           Salalah      OM  17.02   54.09       Grand flora hotel salalah
10             Chui      UY -33.70  -53.46             Bertelli Chuí Hotel
11       Kiryat Gat      IL  31.61   34.76                      Desert Gat
12         Chinsali      ZM -10.54   32.08                    JESIMS LODGE
13          Sakakah      SA  29.97   40.21                 Raoum Inn Hotel
14  Bandar-e Lengeh      IR  26.56   54.88                  Diplomat Hotel
15        Okitipupa      NG   6.50    4.78            Amazon Hotel & Suite
16        Quelimane      MZ -17.88   36.89                     Hotel Elite
17          Neuquén      AR -38.95  -68.06               Hotel del Comahue
18        Jacobabad      PK  28.28   68.44                Hotel Al-HARMAIN

In [10]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))